.menu-container {
  padding: 10px 20px;
}


.category-section {
  margin-bottom: 40px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.scroll-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.scroll-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}