.navbar {
  position: sticky;
  top: 0;
  left: 0;
  /* width: 100%; */
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  z-index: 100;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}


.menu-btn {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}


.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
}


.nav-links li a:hover {
  color: #ff416c;
}


.cart-btn {
  position: relative;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}


.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
}


.user-menu {
  position: relative;
}


.user-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}


.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  width: 200px;
  margin-top:20px;
}


.dropdown a:hover {
  color: #1D976C;
  background: rgba(0, 0, 0, 0.128);
}


.user-menu:hover .dropdown {
  display: block;
}


.dropdown a,
.logout-btn {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {


  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    text-align: center;
  }

  .menu-btn {
    display: block;
    color: black;
  }

  .nav-links.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(217, 217, 217);

  }

  .nav-links li {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 0px 10px rgb(217, 217, 217);
      background: red;
    }
  }

  .logo {
    display: none;
  }


  .user-menu:hover .dropdown {
    display: flex;
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
  }

  .login-buttons {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 100%;
  }
}
