.OrderAll-Card{
    box-shadow: 0px 0px 10px rgb(233, 232, 232);
    border-radius: 15px;
    position: relative;
}
.OrderAll-Card-body{
    display: flex;
    width: auto;
    padding: 10px;
    gap: 20px;
}

.OrderAll-Card-body .btn{
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0);
    bottom: 10%;
    height:max-content;
    max-width: max-content;
}


@media (max-width: 768px) {
    .OrderAll-nav{
        display: flex;
        overflow: auto;
    }

    .OrderAll-nav::-webkit-scrollbar{
        display: none;
    }
}